<article class="container">
	<section class="row" id="article_table">
			<section class="col-md-2"></section>
			<section class="col-md-8">
				<h1>{{file.name | uppercase}}'s Detail</h1>
				<table class="table table-bordered table-striped">
					<tr>
						<td>Name</td>
						<td>{{file.name}}</td>
					</tr>
					<tr>
						<td>Size</td>
						<td>{{file.size}}</td>
					</tr>
					<tr>
						<td>Date upload</td>
						<td>{{file.dateupload}}</td>
					</tr>
					<tr>
						<td>Total download</td>
						<td>{{total}}</td>
					</tr>
				</table>
				<button class="btn btn-primary" type="button">
					<a style="color: white" href="#/fileManage">
						<span class="glyphicon glyphicon-arrow-left">Back</span>
					</a>
				</button>
			</section>
	</section>
	<hr>
	<section class="row" >
			<section class="col-md-2"></section>
			<section class="col-md-8">
				<h4>Comment</h4>
				<form ng-submit="saveComment(file.id)">
					<textarea ng-model="content" class="form-control" rows="3" ></textarea>
					<button class="btn btn-primary" type="submit">Comment</button>
				</form>
				<table class="table table-bordered table-striped">
					<tr ng-repeat="comment in comments">
						<td>
							<article>
								<header>
									<a href="">{{comment[4]}}:</a>
								</header>
								<section>
									{{comment[1]}}
								</section>
								<footer>
									{{comment[2]}} 
									<a href="" ng-click="increase(comment[0])">like</a>
									| {{comment[3]}}
								</footer>
							</article>
						</td>
					</tr>
				</table>
			</section>
			
	</section>
</article>