<h3><i class="fa fa-angle-right"></i> Download History</h3>
<div ng-controller="download">
	<table class="content-panel table table-striped table-advance table-hover">
		<thead>
			<tr style{background-color:"#eea236"}>
				<th>#</th>
				<th width="40%">Name</th>
				<th>Size</th>
				<th>Uploader</th>
				<th width="25%">Download Date</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="file in files.content track by $index">
				<td>{{$index+1}}</td>
				<td>
					<a href="" ng-click="getInfoFile(file.id)">{{file.idFile.name}}</a>
				</td>
				<td>{{file.idFile.size | number:1}} KB</td>
				<td>{{file.idUser.lastName}}</td>
				<td>{{file.datedownload | date :"dd-MM-yyyy"}}</td>
			</tr>
		</tbody>
	</table>
	<ul class="list-inline">
		<li ng-repeat="i in getNumber(files.totalPages) track by $index">
			<button class="btn btn-success" ng-click="getDownloadByPage($index, 10)">{{$index+1}}</button>
		</li>
	</ul>
	
	
	<!-- modal -->
	<div class="modal fade" id="editModal" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content m-modal-content">
			<div class="modal-header m-modal-header-edit">
				<button type="button" class="close m-close-button"
					data-dismiss="modal">&times;</button>
				<h4 class="modal-title">{{fileDetail.name | uppercase}}'s Detail</h4>
			</div>
			<div class="modal-body">
				<div id="article_table">
					<table class="table table-bordered table-striped m-table">
						<tr>
							<td width="50%">Name</td>
							<td>{{fileDetail.name}}</td>
						</tr>
						<tr>
							<td>Size</td>
							<td>{{fileDetail.size | number:2}} Kb</td>
						</tr>
						<tr>
							<td>Date upload</td>
							<td>{{fileDetail.dateupload | date:"dd-MM-yyyy"}}</td>
						</tr>
						<tr>
							<td>Total download</td>
							<td>{{total}}</td>
						</tr>
					</table>
					<h4>Description++++</h4>
					<textarea rows="" cols="">{{fileDetail.description}}</textarea>
				</div>
				<hr>
				<section class="row">
					<section class="col-md-2"></section>
					<section class="col-md-8">
						<h4>Comment</h4>
						<form ng-submit="saveComment(file.id)">
							<textarea ng-model="content" class="form-control" rows="3" ></textarea>
							<button class="btn btn-primary" type="submit">Comment</button>
						</form>
						<table class="table table-bordered table-striped">
							<tr ng-repeat="comment in comments.content">
								<td>
									<article>
										<header>
											<a href="">{{comment.idUser.name}}:</a>
										</header>
										<section>
											{{comment.content}}
										</section>
										<footer>
											{{comment.likeComment}} 
											<a href="" ng-click="increase()">like</a>
											| {{comment.dateComment}}
										</footer>
									</article>
								</td>
							</tr>
						</table>
					</section>
				</section>
			</div>
		</div>
	</div>
</div>
</div>