<div class="main-header">Download History</div>
<div ng-controller="download">
	<table class="table table-hover" style="width: 80%; margin: auto;">
		<thead>
			<tr>
				<th>#</th>
				<th width="40%">Name</th>
				<th>Size</th>
				<th width="25%">Download Date</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="file in files track by $index">
				<td>{{$index+1}}</td>
				<td>
					<a href="#/detail/{{file[0]}}">{{file[1]}}</a>
				</td>
				<td>{{file[3]}}</td>
				<td>{{file[9] | date :"dd-MM-yyyy"}}</td>
			</tr>
		</tbody>
	</table>
	<ul class="list-inline">
		<li ng-repeat="i in getNumber(count) track by $index">
			<button ng-click="getDownloadByPage($index, 2)">{{$index+1}}</button>
		</li>
	</ul>
</div>







<!-- <section class="container" ng-controller="download">
	<section class="row">
		<section class="col-md-1"></section>
		<section class="col-md-9">
			<section class="row">
				<h1>Download History</h1>
				<table class="table table-hover">
					<thead class="bg-primary text-white">
						<tr>
							<th>#</th>
							<th>Name</th>
							<th>Size</th>
							<th>Download Date</th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="file in files track by $index">
							<td>{{$index+1}}</td>
							<td>{{file[1]}}</td>
							<td>{{file[3]}}</td>
							<td>{{file[8]}}</td>
						</tr>
					</tbody>
				</table>
			</section>
			<section class="row">
				<ul class="list-inline">
					<li ng-repeat="i in getNumber(count) track by $index">
						<button ng-click="getDownloadByPage($index, 2)">{{$index+1}}</button>
					</li>
				</ul>
			</section>
		</section>
		<section class="col-md-1"></section>
	</section>
</section>
 -->