<h3><i class="fa fa-angle-right"></i> Download History</h3>
<div ng-controller="download">
	<table class="content-panel table table-striped table-advance table-hover">
		<thead>
			<tr style{background-color:"#eea236"}>
				<th>#</th>
				<th width="40%">Name</th>
				<th>Size</th>
				<th width="25%">Download Date</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="file in files track by $index">
				<td>{{$index+1}}</td>
				<td>
					<a href="#/detail/{{file[0]}}">{{file[1]}}</a>
				</td>
				<td>{{file[3]}}</td>
				<td>{{file[9] | date :"dd-MM-yyyy"}}</td>
			</tr>
		</tbody>
	</table>
	<ul class="list-inline">
		<li ng-repeat="i in getNumber(count) track by $index">
			<button class="btn btn-success" ng-click="getDownloadByPage($index, 2)">{{$index+1}}</button>
		</li>
	</ul>
</div>