<div>
	<form class="search-form" ng-submit="doSearch(0, 2)">
		<input class="input-search" type="text" id="search"
			placeholder="Search ..." ng-model="infoSearch">
		<button type="submit" class="btn btn-search">Search</button>
	</form>
	<div class="filter-form">
		<input class="input-filter" type="text" id="myInput"
			placeholder="Filter ..." ng-model="filterFile">
	</div>
	<br>
</div>


<div class="row">{{msgErrorDownload}}</div>
<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th width="40%">Name</th>
			<th>Size</th>
			<th>Updated Date</th>
			<th>Owner</th>
			<th width="15%">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="file in files track by $index">
			<td>{{$index+1}}</td>
			<td>{{file.name}}</td>
			<td>{{file.size}}</td>
			<td>{{file.dateupload}}</td>
			<td></td>
			<td>
				<button ng-disabled="{{file.sharing==0}}" ng-click="downloadFile(file.id)" type="button"
					class="btn btn-circle btn-warning">
					<span class="fa fa-download"></span>
				</button>
				<button type="button" class="btn btn-circle btn-info">
					<span class="fa fa-info"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>


<ul class="list-inline">
	<li ng-repeat="i in getNumber(count) track by $index">
		<button class="btn m-btn active"
			ng-click="getDownloadByPage($index, 2)">{{$index+1}}</button>
	</li>
</ul>
</div>