<div class="main-header">File Management</div>
<div ng-controller="fileManage" ng-init="stt=0; incre=1">
	<table id="myTable" class="table table-striped">
		<thead>
			<th>#</th>
			<th width="40%">Name File</th>
			<th>Size</th>
			<th>Date Upload</th>
			<th>Sharing</th>
			<th width="15%"">Action</th>
		</thead>
		<tbody ng-repeat="file in files | filter: filter_">
			<td>{{$index+1}}</td>
			<td><a href="#/detail/{{file.id}}">{{file.name}}</a></td>
			<td>{{file.size | number:2}} Kb</td>
			<td>{{file.dateupload}}</td>
			<td><input ng-click="changeShare(file.id)" type="checkbox"
				ng-checked="{{file.sharing==1}}"></td>
			<td>
				<button ng-click="downloadFile(file.id)" type="button"
					class="btn btn-warning btn-circle">
					<span class="fa fa-download"></span>
				</button>
				<button ng-click="deleteFile(file.id)" type="button"
					class="btn btn-danger btn-circle">
					<span class="fa fa-trash"></span>
				</button>

			</td>
		</tbody>
	</table>
	<ul class="list-inline">
		<li ng-repeat="i in getNumber(count) track by $index">
			<button ng-click="getFileByPage($index, 2)">{{$index+1}}</button>
		</li>
	</ul>
</div>
