<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="admin" class="no-js"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>MFS</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="\css\admin.css" />
<link rel="stylesheet" type="text/css" href="\css\admin-index.css" />
</head>
<body class="body">
	<div class="nav-ul">
		<div class="admin-header">.</div>
		<div class="info">
			<a class="profile"><i class="fa fa-user-circle"></i> Profile</a>
			<a class="setting"><i class="fa fa-cog"></i> Setting</a>
		</div>
		<a href="#/admin" class="li-a">
			<div class="li active"><span class="lii"> <i class="fa fa-home"
					aria-hidden="true"></i>
			</span> User Management</div>
		</a>

		<a href="#/rank" class="li-a">
			<div class="li"><span class="lii"> <i
					class="fa fa-sitemap" aria-hidden="true"></i>
			</span> Rank Management</div>
		</a>

		<a href="#/file" class="li-a">
			<div class="li"><span class="lii"> <i
					class="fa fa-list-ol" aria-hidden="true"></i>
			</span> File Managerment</div>
		</a>

		<a href="/logout" class="li-a">
			<div class="li"><span class="lii"> <i
					class="fa fa-sign-out" aria-hidden="true"></i>
			</span> Logout</div>
		</a>
	</div>
	<div class="main">
		<div class="sub">
			<div ng-view></div>
		</div>
	</div>

	<script src="../static/js/lib/angular-1.4.9/angular.js"
		th:src="@{/js/lib/angular-1.4.9/angular.js}"></script>
	<script src="../static/js/lib/angular-1.4.9/angular-resource.js"
		th:src="@{/js/lib/angular-1.4.9/angular-resource.js}"></script>
	<script src="../static/js/lib/angular-1.4.9/angular-route.js"
		th:src="@{/js/lib/angular-1.4.9/angular-route.js}"></script>

	<!-- Main Controller -->
	<script src="../static/js/admin.js" th:src="@{/js/admin.js}"></script>
	<script src="../static/js/controller/adminController/mainController.js"
		th:src="@{/js/controller/adminController/mainController.js}"></script>
	<script src="../static/js/controller/adminController/rankController.js"
		th:src="@{/js/controller/adminController/rankController.js}"></script>
	<script src="../static/js/controller/adminController/rankController.js"
		th:src="@{/js/controller/adminController/fileController.js}"></script>

	<!-- Services -->
	<script src="../static/js/controller/service/userService.js"
		th:src="@{/js/controller/service/userService.js}"></script>
	<script src="../static/js/controller/service/userService.js"
		th:src="@{/js/controller/service/rankService.js}"></script>
	<script src="../static/js/controller/service/userService.js"
		th:src="@{/js/controller/service/fileService.js}"></script>
</body>
</html>