<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html lang="en" ng-app="admin" class="no-js"
	xmlns="http://www.w3.org/1999/xhtml">
<!--<![endif]-->
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>MFS</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link rel="stylesheet" href="css/bootstrap.min.css">
<script src="js/lib/jquery/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/Chart.js"></script>
<link rel="stylesheet" href="/css/font-awesome.min.css">
<link rel="stylesheet" type="text/css" href="\css\admin.css" />
<link rel="stylesheet" type="text/css" href="\css\admin-index.css" />
<link rel="stylesheet" type="text/css" href="\css\all-style.css" />
<script src="/js/js-admin.js"></script>
</head>
<body class="body">

	<div class="row">
		<div class="col-sm-2">
			<div class="m-vnar-bar">
				<a href="#"><button class="m-vnar-bar-title">Administrator</button></a>
				<div class="m-vnar-bar-fa-avatar">
					<i class="fa fa-users"></i>
				</div>
				<a href="#/dashboard" class="">
					<button id="id01" onclick="function1('#id01')" class="">
						<span class=""> <i class="fa fa-home" aria-hidden="true"></i>
						</span> Admin Dashboard
					</button>
				<a href="#/admin" class="">
					<button id="id01" onclick="function1('#id01')" class="">
						<span class=""> <i class="fa fa-home" aria-hidden="true"></i>
						</span> User Management
					</button>
				</a> <a href="#/rank">
					<button id="id02" onclick="function1('#id02')" class=" ">
						<span class=""> <i class="fa fa-sitemap" aria-hidden="true"></i>
						</span> Rank Management
					</button>
				</a> <a href="#/file">
					<button id="id03" onclick="function1('#id03')" class="">
						<span class=""> <i class="fa fa-list-ol" aria-hidden="true"></i>
						</span> File Management
					</button>
				</a> <a href="#/user">
					<button id="id03" onclick="function1('#id03')" class="">
						<span class=""> <i class="fa fa-list-ol" aria-hidden="true"></i>
						</span> Profile Edit
					</button>
				</a> <a href="/logout">
					<button class="">
						<span class=""> <i class="fa fa-sign-out"
							aria-hidden="true"></i>
						</span> Logout
					</button>
				</a>
			</div>
		</div>
		<div th:attr="ng-init='userId='+${userId}+''" class="col-sm-10" ng-view></div>
	</div>


	<!-- Angular -->
	<script src="/js/lib/angular-1.4.9/angular.js"></script>
	<script src="/js/lib/angular-1.4.9/angular-resource.js"></script>
	<script src="/js/lib/angular-1.4.9/angular-route.js"></script>
	<script src="/js/lib/angular-1.4.9/angular-chart.js"></script>

	<!-- Main Controller -->
	<script src="/js/controller/adminController/admin.js"></script>
	<script src="/js/controller/adminController/mainController.js"></script>
	<script src="/js/controller/adminController/rankController.js"></script>
	<script src="/js/controller/adminController/fileController.js"></script>
	<script src="/js/controller/adminController/dashBoardController.js"></script>
	<script src="/js/controller/adminController/userInfoController.js"></script>

	<!-- Services -->
	<script src="/js/controller/service/adminService/userService.js"></script>
	<script src="/js/controller/service/adminService/rankService.js"></script>
	<script src="/js/controller/service/adminService/fileService.js"></script>
</body>
</html>