<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">

<head>
<title>404-PageNotFound</title>
<link rel="stylesheet" type="text/css"
	th:href="@{\css\error.css}" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<body>
	<a href="/"><img src="/images/logo3.png" alt="Logo" class="logo"></a>
	<div class="container">

		<div class="form">
			<div class="form-header">404 - PAGE NOT FOUND</div>
			<img src="/images/error-search.png" alt="img" class="img">
			<div class="row1">We are sorry but the page you are looking for
				<br>does not exist.</div>
			<div>
				<br> <br><br><br> <br> <br> <br><a href="/"><span
					class="glyphicon glyphicon-hand-left"></span> Return to Homepage</a>
			</div>
		</div>

	</div>
</body>
</html>