<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<script src="/js/lib/jquery/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="/css/bootstrap.min.css">

<title>RESET PASSWORD</title>
</head>
<body>
	<section class="container">
	<h2 class="text-center">RESET PASSWORD</h2>
		<section class="row">
			<section class="col-md-4"></section>
			<section class="col-md-4">
				<form action="/resetpassword/doReset" method="post">
					<table class="table">
						<tbody>
							<tr>
								<td>
									<label>Email:</label><br>
									<input class="form-control" name="email" type="email" th:value="${email}" readonly="readonly">
									<input class="form-control" name="token" type="hidden" th:value="${token}" >
								</td>
							</tr>
							<tr>
								<td>
									<label>New password</label><br>
									<input class="form-control" name="newPassword" type="password" required="required">	
								</td>
							</tr>
							<tr>
								<td>
									<label>Confirm password</label><br>
									<input class="form-control" name="confirmPassword" type="password" required="required">
								</td>
							</tr>
							<tr th:if="${msg}!=null">
								<td>
									<p th:text="${msg}">message</p>
								</td>
							</tr>
						</tbody>
					</table>
					<button type="submit" class="btn btn-primary btn-block">Reset Password</button>
				</form>
				</section>
				<section class="col-md-4"></section>
		</section>
	</section>
	
</body>
</html>
