<!DOCTYPE html>
<html ng-app="myWeb">

<head>
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<!-- Bootstrap Core CSS -->
<link href="css/bootstrap.min.css" rel="stylesheet">

<!-- Custom CSS -->



<!-- Custom Fonts -->
<link href="/css/font-awesome.min.css" rel="stylesheet"
	type="text/css">

<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Mini File Sharing</title>
<!-- Script file-->
<script data-require="angular.js@1.4.x"
	src="https://code.angularjs.org/1.4.12/angular.js" data-semver="1.4.9"></script>

<script src="../js/member.js"></script>
<script src="../js/controller/memberControllers/downloadController.js"></script>
<script src="../js/controller/memberControllers/mainController.js"></script>
<script
	src="../js/controller/memberControllers/fileManage.js"></script>
<script src="../js/controller/memberControllers/userInfoController.js"></script>
<script src="../js/controller/memberControllers/detailController.js"></script>
<script src="../js/controller/memberControllers/exploreController.js"></script>
<script
	src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<link rel="stylesheet" href="https://www.w3schools.com/lib/w3.css">
<link rel="stylesheet"
	href="https://fonts.googleapis.com/css?family=Poppins">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
	rel="stylesheet">
<link href="../static/css/member.css" th:href="@{/css/member.css}"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<link th:href="@{/css/uploadFile.css}" rel="stylesheet">
<link href="css/member.css" rel="stylesheet">
<link href="css/member-explore.css" rel="stylesheet">
<!-- <link href="css/sb-admin.css" rel="stylesheet">
 -->

</head>

<body>

	<div class="nav-ul">
		<div class="ava-header">.</div>
		<div class="info">
			<a href="#/userInfo" class="profile"><i class="fa fa-user-circle"></i>
				Profile</a> <a class="setting"><i class="fa fa-cog"></i> Setting</a>
		</div>
		</a> <a href="#/fileManage" class="li-a">
			<div class="li">
				<span class="lii"> <i class="fa fa-file" aria-hidden="true"></i>
				</span> File Management
			</div>
		</a> <a href="#/download" class="li-a">
			<div class="li">
				<span class="lii"> <i class="fa fa-history"
					aria-hidden="true"></i>
				</span> Download History
			</div>
		</a> <a href="/logout" class="li-a">
			<div class="li">
				<span class="lii"> <i class="fa fa-sign-out"
					aria-hidden="true"></i>
				</span> Logout
			</div>
		</a>
	</div>
	<div class="main" ng-controller="mainControl"
		th:attr="ng-init='userId='+${userId}+''">
		<div class="sub">
			<div ng-view></div>
		</div>
	</div>

	<script>
		function toggleSearch() {
			var x = document.getElementById('advance');
			if (x.style.display === 'none') {
				x.style.display = 'block';
			} else {
				x.style.display = 'none';
			}
		}
	</script>
</body>

</html>










