<!DOCTYPE html>
<html lang="en" ng-app="member">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Member">
<meta name="keyword"
	content="Member, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">


<title>File Management</title>
<!-- Script file-->
<script data-require="angular.js@1.4.x"
	src="../js/lib/angular-1.4.9/angular.js" data-semver="1.4.9"></script>


<script src="../js/controller/memberController/member.js"></script>
<script src="../js/controller/memberController/downloadController.js"></script>
<script src="../js/controller/memberController/mainController.js"></script>
<script src="../js/controller/memberController/fileManage.js"></script>
<script src="../js/controller/memberController/userInfoController.js"></script>
<script src="../js/controller/memberController/detailController.js"></script>
<script src="../js/controller/memberController/uploadController.js"></script>

<script src="js/lib/angular-1.4.9/angular-route.js"></script>
<script src="js/lib/jquery/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>



<!-- Bootstrap core CSS -->
<link href="css/member-css/bootstrap.css" rel="stylesheet">

<!--external css-->
<link rel="stylesheet" href="/css/font-awesome.min.css">
<!-- for icon -->
<link href="css/font-awesome.css" rel="stylesheet" />
<link rel="stylesheet" type="text/css"
	href="css/member-css/zabuto_calendar.css">
<link rel="stylesheet" type="text/css"
	href="js/member-js/gritter/css/jquery.gritter.css" />
<link rel="stylesheet" type="text/css"
	href="css/member-css/lineicons/style.css">

<!-- Custom styles for this template -->
<link href="css/member-css/style.css" rel="stylesheet">
<link href="css/member-css/style-responsive.css" rel="stylesheet">
<link href="css/all-style.css" rel="stylesheet">

<!-- <script src="assets/js/chart-master/Chart.js"></script> -->

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

	<section id="container">
		<!-- **********************************************************************************************************************************************************
      TOP BAR CONTENT & NOTIFICATIONS
      *********************************************************************************************************************************************************** -->
		<!--header start-->
		<header class="header black-bg">
			<div class="sidebar-toggle-box">
				<div class="fa fa-bars tooltips" data-placement="right"
					data-original-title="Toggle Navigation"></div>
			</div>
			<!--logo start-->
			<a class="logo">File Management</a>
			<!--logo end-->
			<div class="nav notify-row" id="top_menu"></div>
			<div class="top-menu">
				<ul class="nav pull-right top-menu">
					<li><a class="logout" href="/logout">Logout</a></li>
				</ul>
			</div>
		</header>
		<!--header end-->

		<!-- **********************************************************************************************************************************************************
      MAIN SIDEBAR MENU
      *********************************************************************************************************************************************************** -->
		<!--sidebar start-->
		<aside>
			<div id="sidebar" class="nav-collapse ">
				<!-- sidebar menu start-->
				<ul class="sidebar-menu" id="nav-accordion">

					<!-- <p class="centered">
						<a href=""><img src="/images/Thong.jpg"
							class="img-circle" width="60"></a>
					</p> -->
					<div class="centered">
						<div class="img-circle">
							<span class="fa fa-user center-content"></span>
						</div>
					</div>

					<h5 class="centered" th:text="${userName}"></h5>

					<li class="sub-menu"><a class="active" href="#/upload"> <i
							class="fa fa-upload"></i> <span>Upload File</span>
					</a></li>

					<li class="sub-menu"><a href="#/fileManage"> <i
							class="fa fa-file"></i> <span>File Management</span>
					</a></li>

					<li class="sub-menu"><a href="#/download"> <i
							class="fa fa-tasks"></i> <span>Download History</span>
					</a></li>
					<li class="sub-menu"><a href="#/userInfo"> <i
							class="fa fa-cogs"></i> <span>Account Setting</span>
					</a></li>
					<li class="sub-menu"><a href="/"> <i
							class="fa fa-cogs"></i> <span>Return Home</span>
					</a></li>
				</ul>
				<!-- sidebar menu end-->
			</div>
		</aside>
		<!--sidebar end-->

		<!-- MAIN CONTENT
      *********************************************************************************************************************************************************** -->
		-->
		<!--main content start-->
		<section id="main-content" ng-controller="mainControl"
			th:attr="ng-init='userId='+${userId}+''">
			<section class="wrapper site-min-height">
				<div class="row mt">
					<div class="col-lg-12">

						<div ng-view></div>
					</div>
				</div>

			</section>
			<!--/wrapper -->
		</section>
		<!-- /MAIN CONTENT -->

		<!--main content end-->

		<!--footer start-->
		<!--footer end-->
	</section>
	<!--body end-->

	<!-- js placed at the end of the document so the pages load faster -->
	<script src="js/member-js/jquery.js"></script>
	<script src="js/member-js/jquery-1.8.3.min.js"></script>
	<script src="js/member-js/bootstrap.min.js"></script>
	<script class="include" type="text/javascript"
		src="js/member-js/jquery.dcjqaccordion.2.7.js"></script>
	<script src="js/member-js/jquery.scrollTo.min.js"></script>
	<script src="js/member-js/jquery.nicescroll.js" type="text/javascript"></script>


	<!--common script for all pages-->
	<script src="js/member-js/common-scripts.js"></script>

	<script type="text/javascript"
		src="js/member-js/gritter/js/jquery.gritter.js"></script>
	<script type="text/javascript" src="js/member-js/gritter-conf.js"></script>

	<script type="application/javascript">
		
		
        function myNavFunction(id) {
            $("#date-popover").hide();
            var nav = $("#" + id).data("navigation");
            var to = $("#" + id).data("to");
            console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
        
        function toggleSearch() {
			var x = document.getElementById('advance');
			if (x.style.display === 'none') {
				x.style.display = 'block';
			} else {
				x.style.display = 'none';
			}
		}
    
        function myFunction() {
    	    var popup = document.getElementById("myPopup");
    	    popup.classList.toggle("show");
    	}
	
	
	</script>