<html>
   
   <head>
      <script src = "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
   </head>
   
   <body ng-app = "myApp">
      <div ng-controller = "myCtrl">
         <input type = "file" file-model = "myFile" multiple/>
         <textarea ng-model="description"></textarea>
         <button ng-click = "uploadFile()">upload me</button>
         <p ng-bind="uploadMessage"></p>
      </div>
      
      <div>
		<ul>
			<li th:each="file : ${files}"><a th:href="${file}"
				th:text="${file}" /></li>
		</ul>
	 </div>
      <script>
         var myApp = angular.module('myApp', []);
         
         myApp.directive('fileModel', ['$parse', function ($parse) {
            return {
               restrict: 'A',
               link: function(scope, element, attrs) {
                  var model = $parse(attrs.fileModel);
                  var modelSetter = model.assign;
                  
                  element.bind('change', function(){
                     scope.$apply(function(){
                        modelSetter(scope, element[0]);
                     });
                  });
               }
            };
         }]);
      
         myApp.service('fileUpload', ['$http', function ($https) {
            this.uploadFileToUrl = function(file,description, uploadUrl){
               var fd = new FormData();
               fd.append('file', file);
               fd.append('description',description);
               $https.post(uploadUrl, fd, {
                  transformRequest: angular.identity,
                  headers: {'Content-Type': undefined}
               })
            
               .success(function(){
            	
               })
            
               .error(function(){
               });
            }
         }]);
      
         myApp.controller('myCtrl', ['$scope', 'fileUpload', function($scope, fileUpload){
            $scope.uploadFile = function(){
               var file = $scope.myFile.files;
               
               console.log('file is ' );
               console.dir(file);
               
               var uploadUrl = "/upload";
               for(var i=0;i<file.length;i++){
            	   fileUpload.uploadFileToUrl(file[i],$scope.description, uploadUrl);
               }
               
            };
         }]);
			
      </script>
      
   </body>
</html>