<div class="main-header">File Management</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Name</th>
			<th>Dateupload</th>
			<th>User</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="f in files track by $index">
			<td>{{$index+1}}</td>
			<td>{{f[1]}}</td>
			<td>{{f[5] | date:'MM/dd/yyyy'}}</td>
			<td>{{f[8]}}</td>
			<td>
				<button ng-click="deleteFile(f[0])" type="button"
					class="btn btn-danger btn-circle" onclick="myToast('del')">
					<span style="color: white"
						class="glyphicon glyphicon-glyphicon glyphicon-trash"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>
<ul class="list-inline">
	<li><button class="btn m-btn"
			ng-click="getFileByPage(page=page-1,5)" ng-disabled="page-1<0"><<</button></li>
	<li ng-repeat="i in getNumber(pageSum) track by $index">
		<button ng-class="{'active': $index == selectedIndex }" class="btn m-btn" ng-click="getFileByPage($index, 5)">{{$index+1}}</button>
	</li>
	<li><button class="btn m-btn"
			ng-click="getFileByPage(page=page+1,5)" ng-disabled="page+1>=pageSum">>></button></li>

</ul>

<div id="textshow"></div>

<script>
	var a = document.getElementById("textshow");
	function myToast(i) {
		if (i == "del") {
			a.innerHTML = "A file has been deleted.";
			a.style.backgroundColor = "#c9302c";
		}
		a.className = "show";
		setTimeout(function() {
			a.className = a.className.replace("show", "");
		}, 3000);
	}
</script>