<div class="main-header">User Management</div>

<button ng-click="addBlock=true; editBlock=false" data-toggle="modal"
	type="button" data-target="#addModal" class="btn btn-info btn-add">
	<span style="color: white" class="glyphicon glyphicon-plus"></span>
</button>

<table class="table table-striped">
	<thead>
		<tr>
			<th>#</th>
			<th>Email</th>
			<th>Name</th>
			<th>Last Name</th>
			<th>Rank</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="u in users track by $index">
			<td>{{$index+1}}</td>
			<td>{{u.email}}</td>
			<td>{{u.name}}</td>
			<td>{{u.lastName}}</td>
			<td>{{u.rankId.name}}</td>
			<td>

				<button ng-disabled="{{u.id == 0 }}" ng-click="getUser(u.id)"
					type="button" data-toggle="modal" data-target="#editModal"
					class="btn btn-warning btn-circle">
					<span style="color: white" class="glyphicon glyphicon-edit"></span>
				</button>
				<button ng-disabled="{{u.id == 0 }}" ng-click="deleteUser(u.id)"
					type="button" class="btn btn-danger btn-circle"
					onclick="myToast('del')">
					<span style="color: white"
						class="glyphicon glyphicon-glyphicon glyphicon-trash"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>
<div style="margin: auto;">
	<ul class="list-inline">
		<li><button class="btn m-btn"
				ng-click="getUserByPage(page=page-1,5)" ng-disabled="page-1<0"><<</button></li>
		<li ng-repeat="i in getNumber(pageSum) track by $index">
			<button ng-class="{'active': $index == selectedIndex }" class="btn m-btn" ng-click="getUserByPage($index, 5)">{{$index+1}}</button>
		</li>
		<li><button class="btn m-btn"
				ng-click="getUserByPage(page=page+1,5)"
				ng-disabled="page+1>=pageSum">>></button></li>
	</ul>
</div>


<div class="modal fade" id="editModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content m-modal-content">
			<div class="modal-header m-modal-header-edit">
				<button type="button" class="close m-close-button"
					data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit User</h4>
			</div>
			<div class="modal-body">
				<div ng-show="editBlock">

					<form class="form-horizontal css-form" name="editForm"
						ng-submit="editUser(user)">
						<label>Email:</label> <input type="email"
							class="form-control m-input" ng-model="user.email" required /> <label>Name:</label>
						<input type="text" class="form-control" ng-model=user.name
							required /> <label>Last Name:</label> <input type="text"
							class="form-control" ng-model="user.lastName" required /> <label>Rank:</label>

						<select class="form-control" ng-model="rank.current">
							<option ng-repeat="name in rank.names" value="{{name.id}}">{{name.name}}</option>
						</select>
						<div class="modal-footer">
							<button type="submit" ng-disabled="editForm.$invalid"
								class="btn m-btn-edit" onclick="closeModal('edit')">Save
								Change</button>
						</div>
					</form>
				</div>
			</div>

		</div>

	</div>
</div>

<div class="modal fade" id="addModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content m-modal-content">
			<div class="modal-header m-modal-header-add">
				<button type="button" class="close m-close-button"
					data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add New User</h4>
			</div>
			<div class="modal-body">
				<div ng-show="addBlock">
					<form class="form-horizontal css-form" name="addForm"
						ng-submit="addUser()">
						<label>Email:</label> <input type="email" class="form-control"
							ng-model="email" required /> <label>Password:</label> <input
							type="text" class="form-control" ng-model="password" required />
						<label>Name:</label> <input type="text" class="form-control"
							ng-model=name required /> <label>Last Name:</label> <input
							type="text" class="form-control" ng-model="lastName" required />
						<div class="modal-footer">
							<button type="submit" ng-disabled="addForm.$invalid"
								class="btn m-btn-add" onclick="closeModal('add')">Add</button>
						</div>
					</form>
				</div>
			</div>

		</div>

	</div>
</div>

<div id="textshow"></div>

<script>
	function closeModal(i) {
		$('#editModal').modal('hide');
		$('#addModal').modal('hide');
		myToast(i);
	}

	function myToast(i) {
		var a = document.getElementById("textshow");
		if (i == "edit") {
			a.innerHTML = "User information has been saved.";
			a.style.backgroundColor = "#ec971f";
		}
		if (i == "add") {
			a.innerHTML = "A new user has been created.";
			a.style.backgroundColor = "#5bc0de";
		}
		if (i == "del") {
			a.innerHTML = "A user has been deleted.";
			a.style.backgroundColor = "#c9302c";
		}
		a.className = "show";
		setTimeout(function() {
			a.className = a.className.replace("show", "");
		}, 3000);
	}
</script>