<table class="table table-striped">
	<thead>
		<tr>
			<th>No.</th>
			<th>Email</th>
			<th>Name</th>
			<th>Last Name</th>
			<th>Rank</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="u in users">
			<td>{{u.id}}</td>
			<td>{{u.email}}</td>
			<td>{{u.name}}</td>
			<td>{{u.lastName}}</td>
			<td>{{u.rank_Id}}</td>
			<td>
				<button ng-disabled="{{u.id == 0 }}" ng-click="deleteUser(u.id)" type="button"
					class="btn btn-danger">
					<span style="color: white"
						class="glyphicon glyphicon-glyphicon glyphicon-trash"></span>
				</button>
				<button ng-disabled="{{u.id == 0 }}" ng-click="getUser(u.id)" type="button" class="btn"
					style="background-color: teal;">
					<span style="color: white" class="glyphicon glyphicon-wrench"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>
<ul class="list-inline">
	<li><button class="btn m-btn" ng-click="getUserByPage(page=page-1,2)"
			ng-disabled="page=1">Previous</button></li>
	<li ng-repeat="i in getNumber(pageSum) track by $index">
		<button class="btn m-btn active" ng-click="getUserByPage($index, 5)">{{$index+1}}</button>
	</li>
	<li><button class="btn m-btn" ng-click="getUserByPage(page=page+1,2)"
			ng-disabled="page+1>=pageSum">Next</button></li>
</ul>
<button ng-click="addBlock=true; editBlock=false" type="button"
	class="btn" style="background-color: green">
	<span style="color: white" class="glyphicon glyphicon-plus"></span>
</button>

<div ng-show="editBlock">
	<h2>Edit User</h2>
	<form class="form-horizontal css-form" name="editForm" ng-submit="editUser(user)">
		<label>Email:</label> 
		<input type="email" class="form-control" ng-model="user.email" required /> 
		<label>Name:</label> 
		<input type="text" class="form-control" ng-model=user.name required /> 
		<label>Last Name:</label> 
		<input type="text" class="form-control" ng-model="user.lastName" required /> 
		<label>Rank:</label> 
		<!-- <input type="text" class="form-control" ng-model="user.rank_Id" required /> -->
		
 		<select class="form-control" ng-model="rank.current">
      		<option ng-repeat="name in rank.names" value="{{name.id}}">{{name.name}}</option>
    	</select>
		<button type="submit" ng-disabled="editForm.$invalid"
			class="btn btn-primary">Save Change</button>
	</form>
</div>
<div ng-show="addBlock">
	<h2>Add new user</h2>
	<form class="form-horizontal css-form" name="addForm"
		ng-submit="addUser()">
		<label>Email:</label> <input type="email" class="form-control"
			ng-model="email" required /> <label>Password:</label> <input
			type="text" class="form-control" ng-model="password" required /> <label>Name:</label>
		<input type="text" class="form-control" ng-model=name required /> <label>Last
			Name:</label> <input type="text" class="form-control" ng-model="lastName"
			required />
		<button type="submit" ng-disabled="addForm.$invalid"
			class="btn btn-primary">Add</button>
	</form>
</div>

<script>
	
</script>