<div class="m-h1 m-bluegray-text">Rank Management</div>
<br>
<br>
<button ng-click="addBlock=true; editBlock=false" data-toggle="modal" data-target="#addModal"
	class="m-button m-blue m-blue-hover m-white-text m-margin-bottom">
	<i class="glyphicon glyphicon-plus"></i> Add Rank
</button>
<table class="table m-table m-table-hover">
	<thead>
		<tr>
			<th width="20%">Name</th>
			<th>Sizeupload</th>
			<th>Sizedownload</th>
			<th>Sizerank</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="r in ranks">
			<td>{{r.name}}</td>
			<td>{{r.sizeupload}}</td>
			<td>{{r.sizedownload}}</td>
			<td>{{r.sizerank}}</td>
			<td>
				<button ng-click="getRank(r.id)" type="button" data-toggle="modal"
					data-target="#editModal" class="m-button m-button-circle m-green m-green-hover m-white-text">
					<span style="color: white" class="glyphicon glyphicon-edit"></span>
				</button>
				<button ng-click="deleteRank(r.id)" type="button"
					class="m-button m-button-circle m-red m-red-hover m-white-text" onclick="myToast('del')">
					<span style="color: white"
						class="glyphicon glyphicon-glyphicon glyphicon-trash"></span>
				</button>
			</td>
		</tr>
	</tbody>
</table>

<div class="modal fade" id="editModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content m-modal-content">
			<div class="modal-header m-modal-header-edit">
				<button type="button" class="close m-close-button"
					data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Edit Rank</h4>
			</div>
			<div class="modal-body">
				<div ng-show="editBlock">
					<form class="form-horizontal css-form" name="editForm"
						ng-submit="editRank(rank)">
						<label>Name:</label> <input type="text" class="form-control"
							ng-model="rank.name" required /> <label>Sizeupload:</label> <input
							type="number" class="form-control" ng-model=rank.sizeupload
							required /> <label>Sizedownload:</label> <input type="number"
							class="form-control" ng-model="rank.sizedownload" required /> <label>Sizerank:</label>
						<input type="number" class="form-control" ng-model="rank.sizerank"
							required />
						<div class="modal-footer">
							<button type="submit" ng-disabled="editForm.$invalid"
								class="btn m-btn-edit" onclick="closeModal('edit')">Save
								Change</button>
						</div>
					</form>
				</div>
			</div>

		</div>

	</div>
</div>

<div class="modal fade" id="addModal" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content m-modal-content">
			<div class="modal-header m-modal-header-add">
				<button type="button" class="close m-close-button"
					data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Add New User</h4>
			</div>
			<div class="modal-body">
				<div ng-show="addBlock">
					<h2>Add new rank</h2>
					<form class="form-horizontal css-form" name="addForm"
						ng-submit="addRank()">
						<label>Name:</label> <input type="text" class="form-control"
							ng-model="name" required /> <label>Sizeupload:</label> <input
							type="number" class="form-control" ng-model="sizeupload" required />
						<label>Sizedownload:</label> <input type="number"
							class="form-control" ng-model=sizedownload required /> <label>Sizerank:</label>
						<input type="number" class="form-control" ng-model="sizerank"
							required />
						<div class="modal-footer">
							<button type="submit" ng-disabled="addForm.$invalid"
								class="btn m-btn-add" onclick="closeModal('add')">Add</button>
						</div>
					</form>
				</div>
			</div>

		</div>

	</div>
</div>

<div id="textshow"></div>

<script>
	function closeModal(i) {
		$('#editModal').modal('hide');
		$('#addModal').modal('hide');
		myToast(i);
	}

	function myToast(i) {
		var a = document.getElementById("textshow");
		if (i == "edit") {
			a.innerHTML = "Rank information has been saved.";
			a.style.backgroundColor = "#ec971f";
		}
		if (i == "add") {
			a.innerHTML = "A new rank has been created.";
			a.style.backgroundColor = "#5bc0de";
		}
		if (i == "del") {
			a.innerHTML = "A rank has been deleted.";
			a.style.backgroundColor = "#c9302c";
		}
		a.className = "show";
		setTimeout(function() {
			a.className = a.className.replace("show", "");
		}, 3000);
	}
</script>