<div class="m-bluegray-text m-h1">User Information</div>
<br>
<br>
<div class="row">
	<div class="col-sm-2"></div>
	<div class="col-md-8">
		<div ng-controller="userInfo" class="form-panel">
			<div class="input-group">
				<span class="input-group-addon" title="Your email"> <i
					class="fa fa-envelope"></i>
				</span> <input readonly="readonly" id="email" type="text"
					value="{{userInfo.email}}" class="form-control" name="email"
					placeholder="Email">
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon" title="Your name"> <i
					class="fa fa-user"></i>
				</span> <input readonly="readonly" id="displayName"
					value="{{userInfo.name}}" type="text" class="form-control"
					name="displayName" placeholder="Display Name">
			</div>
			<br>
			<div class="input-group">
				<span class="input-group-addon" title="Your name"> <i
					class="fa fa-bookmark" title="Your rank"></i>
				</span> <input readonly="readonly" id="displayName"
					value="{{userInfo.rankId.name}}" type="text" class="form-control"
					name="rank" placeholder="Rank">
			</div>
			<form ng-submit="changePass()">
				<div class="m-h2 m-bluegray-text">Change Password</div>
				<div class="input-group">
					<span class="input-group-addon"> <i class="fa fa-lock"></i>
					</span> <input required="required" id="password" type="password"
						class="form-control" ng-model="currentPassword" name="password"
						placeholder="Current Password">
				</div>
				<br>
				<div class="input-group">
					<span class="input-group-addon"> <i class="fa fa-edit"></i>
					</span> <input required="required" id="password" type="password"
						class="form-control" ng-model="newPassword" name="password"
						placeholder="New Password">
				</div>
				<br>
				<div class="input-group">
					<span class="input-group-addon"> <i class="fa fa-edit"></i>
					</span> <input required="required" id="password" type="password"
						class="form-control" ng-model="confirmpassword"
						placeholder="Confirm New Password">
				</div>
				{{msg}} <br>
				<div class="m-text-align-center">
					<button type="submit" class="m-button m-green m-green-hover m-white-text">Save change</button>
				</div>
			</form>
		</div>
	</div>
</div>
