.body {
	background-color: #363942;
}

.nav-ul {
	margin-top: 20px;
	margin-left: 0px;
	float: left;
	width: 250px;
}

.li {
	background-color: transparent;
	color: #008040;
	list-style-type: none;
	margin-top: 1px;
	padding: 7px;
}

.li:hover {
	background-color: #008040;
	color: white;
}

.li-a {
	text-decoration: none;
	color: white;
	font-size: 18px;
}

.li-a:hover {
	text-decoration: none;
	color: white;
}

.lii {
	font-size: 25px;
}

.main {
	margin: 30px;
	background: rgba(226, 233, 240, 1);
	padding: 10px;
}

.sub {
	background: rgba(226, 233, 228, 1);
	margin-left: 250px;
	min-height: 800px;
	padding: 10px;
}

footer {
	left: 0;
	right:0;
	bottom: 0;
	position: inherit;
	background-color: #f2f7ff;
	text-align: center;
	margin-top: 20px;
}

.logo-bottom {
	width: 200px;
	float: right;
	margin-bottom: -500px;
}