*:focus {
	outline: 0;
}

.m-btn {
	background-color: green;
	color: white;
	width: 100px;
	margin-left: 100px;
	border-radius: 0px;
	color: white;
}

.form {
	max-width: 520px;
	border: none;
	margin: 0 auto;
}

.form-signin-heading {
	text-align: center;
	font-size: xx-large;
	font-weight: bolder;
	color: #3b3b3b;
}

.form-signup-heading {
	text-align: center;
	font-size: x-large;
	color: #3b3b3b;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
}

.signup {
	margin-top: 5px;
	text-align: center;
}

.button-login {
	background-color: #09568d;
	color: white;
	border-radius: 0 !important;
	font-weight: bolder !important;
	margin-top: 10px;
}

.button-login:hover {
	background-color: #16216a;
	color: white !important;
}

.button-signup {
	background-color: white;
	color: #0090c7;
	border-radius: 0 !important;
	font-weight: bolder !important;
	margin-top: 10px;
}

.button-signup:hover {
	background-color: #0090c7;
	color: white !important;
}

.add-on {
	border: 0 !important;
	background-color: transparent !important;
	font-size: x-large !important;
	padding-bottom: 10px !important;
}

.modal-dialog {
	width: 450px;
	margin: 150px auto;
}

.modal-content {
	border-radius: 0px;
}

.input-search {
	width: 55%;
	font-size: 15px;
	padding-right: 8px;
	padding-left: 8px;
	height: 40px;
	float: left;
	margin-bottom: 5px;
}

.input-filter {
	width: 30%;
	font-size: 15px;
	padding-right: 8px;
	padding-left: 8px;
	height: 40px;
	float: right;
}

.button-by {
	font-weight: 600;
	width: 10%;
	float: left;
	padding-left: 5px;
}

.button-search {
	font-weight: 600;
	font-size: 16px;
	padding-left: 5px;
	float: left;
}

.show-all {
	margin-left: 10px;
	font-size: 15px;
}

.opacity-content {
	opacity: .85;
}

/* Dropdown Button */
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 16px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
	position: relative;
	display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 180px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {;
	background-color: white;
	color: black;
	font-weight: bolder;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
	display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
	background-color: #3e8e41;
}

.user-span {
	margin-left: 10px;
	font-size: 16px;
	font-weight: 700;
	color: white;
}