.body {
	background-image: url("/images/loginIM.png");
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	background-repeat: no-repeat;
	background-size: 100% 100vh;
}

.form {
	width: 800px;
	margin: 50px auto;
	padding: 50px;
	background: rgba(226, 233, 228, .9);
}

.form-signin-heading {
	font-size: 50px;
	font-weight: bold;
	color: #3b3b3b;
}

.form-signup-heading {
	text-align: center;
	font-size: x-large;
	color: #3b3b3b;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
}

input[type="text"] {
	margin-bottom: 0px;
	background-color: transparent;
	border: 0px;
	border-bottom: 1px solid;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
	border-radius: 0px;
	font-size: large;
}

input[type="password"] {
	margin-bottom: 10px !important;
	background-color: transparent;
	border: 0px;
	border-bottom: 1px solid;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
	border-radius: 0px;
	font-size: large;
}

.signup {
	margin-top: 5px;
	text-align: center;
}

.button-create {
	background-color: #008040;
	color: white;
	border-radius: 0 !important;
	font-weight: bolder !important;
	margin-top: 20px;
	width: 300px !important;
}

.button-create:hover {
	background-color: white;
	color: #008040 !important;
}

.add-on {
	border: 0 !important;
	background-color: transparent !important;
	font-size: x-large !important;
	padding-bottom: 10px !important;
}

.i-hover:hover {
	color: #47add5;
}

.logo {
	width: 200px;
	margin-top: -30px;
	margin-left: -30px;
}

p {
	font-size: large;
}

.lbl {
	margin-left: 50px;
	color: red;
}

#textshow {
	visibility: hidden;
	min-width: 250px;
	margin-left: -125px;
	background-color: #99ff99;
	color: black;
	text-align: center;
	padding: 30px;
	position: fixed;
	z-index: 1;
	right: 30px;
	top: 30px;
	font-size: 17px;
	border-left: 6px solid #00cc00;
	font-weight: 500;
}

#textshow.show {
	visibility: visible;
	animation: fadein 1s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
	from {top: 10px; opacity: 0;}
 	to {top: 30px; opacity: 1;}
}

@keyframes fadeout {
	from {top: 30px; opacity: 1;}
	to { top: 10px; opacity: 0;}
}

.regAnim {
	animation: example 1.5s ease;
}

@keyframes example {
    0%   {margin-top: 50px; opacity: .2}
    100% {margin-top: 0px; opacity: .9}
}