.form {
	width: 70%;
	margin-left: 50px;
	float: left;
}

.form-signin-heading {
	font-size: 50px;
	font-weight: bold;
	color: #3b3b3b;
}

.form-signup-heading {
	text-align: center;
	font-size: x-large;
	color: #3b3b3b;
}

.form-control {
	position: relative;
	font-size: 16px;
	height: auto;
}

input[type="text"] {
	margin-bottom: 0px;
	background-color: transparent;
	border: 0px;
	border-bottom: 1px solid;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
	border-radius: 0px;
	font-size: large;
}

input[type="password"] {
	margin-bottom: 10px !important;
	background-color: transparent;
	border: 0px;
	border-bottom: 1px solid;
	box-shadow: inset 0 0px 0px rgba(0, 0, 0, 0);
	border-radius: 0px;
	font-size: large;
}

.signup {
	margin-top: 5px;
	text-align: center;
}

.body {
	/* background: url(/images/bg3.jpg) no-repeat center fixed; */
	/* background: url(/images/bg4.jpg) repeat; */
	/* background-color: silver; */
	
}

.button-login {
	max-width: 300px;
	background-color: #09568d;
	color: white;
	border-radius: 0 !important;
	font-weight: bolder !important;
	margin-top: 10px;
}

.button-login:hover {
	background-color: #16216a;
	color: white !important;
}

.button-signup {
	background-color: white;
	color: #0090c7;
	border-radius: 0 !important;
	font-weight: bolder !important;
	margin-top: 10px;
}

.button-signup:hover {
	background-color: #0090c7;
	color: white !important;
}

.add-on {
	border: 0 !important;
	background-color: transparent !important;
	font-size: x-large !important;
	padding-bottom: 10px !important;
}

.i-hover:hover {
	color: #47add5;
}

.logo {
	width: 200px;
	margin-top: -30px;
	margin-left: -30px;
}

p {
	font-size: large;
}

.lbl {
	margin-left: 50px;
	color: red;
}

.tt {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #47add5;
}

.tt .tooltiptext {
    visibility: hidden;
    width: 320px;
    background-color: #47add5;
    color: #fff;
    font-size: medium;
    font-weight: 500;
    border-radius: 6px;
    padding: 20px 10px 20px 10px;
    position: absolute;
    z-index: 1;
    top: -3px;
    margin-left: 20px;
    margin-top: -5px;
    opacity: 0;
    transition: opacity 1s;
}

.tt .tooltiptext::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 100%;
    margin-top: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent #47add5 transparent transparent;
}

.tt:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#textshow {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #99ff99;
    color: black;
    text-align: center;
    padding: 30px;
    position: fixed;
    z-index: 1;
    right: 30px;
    top: 30px;
    font-size: 17px;
    border-left: 6px solid #00cc00;
    font-weight: 500;
}

#textshow.show {
    visibility: visible;
    animation: fadein 1s, fadeout 0.5s 2.5s;
}

@keyframes fadein {
    from {top: 10px; opacity: 0;}
    to {top: 30px; opacity: 1;}
}

@keyframes fadeout {
    from {top: 30px; opacity: 1;}
    to {top: 10px; opacity: 0;}
}
